### Features of Object Oriented Programming

- Classes
- Objects
- Encapsulation
- Data Hiding
- Abstraction
- Inheritance
    - Single Level
    - Multi Level
    - Mulitple
    - Hierarchical
    - Hybrid
- Polymorphism

In [1]:
class Person:
    def set_values(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
    def get_values(self):
        print(f"""
        Name --> {self.name}
        Age --> {self.age}
        Gender --> {self.gender}""")

In [2]:
p1 = Person() #obj1
p2 = Person() #obj2

In [4]:
p1.set_values('Ravi Ramawat',28,'Male')
p2.set_values('Sachin',29,'Male')

In [5]:
p1.get_values()

        Name --> Ravi Ramawat
        Age --> 28
        Gender --> Male

In [6]:
p2.get_values()

        Name --> Sachin
        Age --> 29
        Gender --> Male

In [8]:
hasattr(p2,'get_values')

True

In [9]:
hasattr(p1,'set_values')

True

In [11]:
l1 = [35,45,56,76,767]
hasattr(l1,'append')

True

In [12]:
hasattr(l1,'delete')

False

In [13]:
hasattr(l1,'pop')

True

In [14]:
print(dir(p1))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'gender', 'get_values', 'name', 'set_values']

# Constructor

In [15]:
class Person:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
    def get_values(self):
        print(f"""
        Name --> {self.name}
        Age --> {self.age}
        Gender --> {self.gender}""")

In [17]:
p1 = Person('Ravi Ramawat',28,'Male')
p2 = Person('Sachin Yadav',29,'Male')

In [18]:
p1.get_values()

        Name --> Ravi Ramawat
        Age --> 28
        Gender --> Male

In [19]:
p2.get_values()

        Name --> Sachin Yadav
        Age --> 29
        Gender --> Male

### Destructor

In [20]:
a = 33
print(a,type(a))

33 <class 'int'>

In [21]:
del a

In [22]:
print(a,type(a))

NameError: name 'a' is not defined

In [1]:
from time import sleep
class Grras:
    def __init__(self,name,desgination,experience,role,subject):
        self.name = name
        self.desgination = desgination
        self.experience = experience
        self.role = role
        self.subject=subject
    def training(self):
        print(f"""{self.name} will provide training to the students who enrolled in {self.subject}""")
    def trainer_profile(self):
        print(f"""
        Name ---> {self.name}
        Designation --> {self.desgination}
        Experience --> {self.experience}
        Job Role --> {self.role}
        Subject --> {self.subject}""")
    def __del__(self):
        print(f"Deleting Name ---> {self.name}")
        del self.name
        sleep(2)
        print(f"Deleting Designation ---> {self.desgination}")
        del self.desgination
        sleep(2)
        print(f"Deleting Experience ---> {self.experience}")
        del self.experience
        sleep(2)
        print(f"Deleting Role ---> {self.role}")
        del self.role
        sleep(2)
        print(f"Deleting Subject ---> {self.subject}")
        del self.subject
        sleep(2)
        print(f"Deleting the whole object")
        del self
    def __str__(self):
        return f"""
        This is an object of class Grras Which contains
         
        Name ---> {self.name}
        Designation --> {self.desgination}
        Experience --> {self.experience}
        Job Role --> {self.role}
        Subject --> {self.subject}
        
        these data memebers."""

In [2]:
t1 = Grras("Ravi Ramawat","Senior Manager",7,"Data Scientist","Data Engineering")

In [3]:
t1.trainer_profile()

        Name ---> Ravi Ramawat
        Designation --> Senior Manager
        Experience --> 7
        Job Role --> Data Scientist
        Subject --> Data Engineering

In [4]:
t1.training()

Ravi Ramawat will provide training to the students who enrolled in Data Engineering

In [5]:
print(t1)

        This is an object of class Grras Which contains

        Name ---> Ravi Ramawat
        Designation --> Senior Manager
        Experience --> 7
        Job Role --> Data Scientist
        Subject --> Data Engineering

        these data memebers.

In [6]:
del t1

Deleting Name ---> Ravi Ramawat
Deleting Designation ---> Senior Manager
Deleting Experience ---> 7
Deleting Role ---> Data Scientist
Deleting Subject ---> Data Engineering
Deleting the whole object

In [24]:
from time import sleep
print("Loading",end="")
for var in range(5):
    sleep(5)
    print(".",end="")

Loading.....

In [31]:
print(p1)

<__main__.Person object at 0x000001B456690190>

In [7]:
print(t1)

NameError: name 't1' is not defined